<div class="ui-grid-col-12">
    <p *ngIf="componentMode === ComponentModeEnum.Create">Please, set data of the person</p>
    <p *ngIf="componentMode === ComponentModeEnum.Update">Please, update data of the person</p>
</div>
<p-message *ngIf="errorFetchingData" severity="error" text="Data could not be retrieved"></p-message>
<div *ngIf="personFormGroup" [formGroup]="personFormGroup" class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
    <div class="ui-grid-col-12">
        <div class="form-group">
            <label [for]="FORM_RUT">RUT</label>
            <input [id]="FORM_RUT" pInputText type="text" [formControlName]="FORM_RUT" maxlength="100" />
            <div class="ui-grid-col-12 ng-invalid-msgs-container" *ngIf="!getControl(FORM_RUT).valid && getControl(FORM_RUT).dirty">
                <label *ngIf="getControl(FORM_RUT).hasError('required')">{{ 'error.input.required' | translate }}</label>
                <label *ngIf="getControl(FORM_RUT).hasError('maxlength')">{{ 'error.input.maxlength' | translate:{p1:RUT_MAX_LENGTH} }}</label>
                <label *ngIf="getControl(FORM_RUT).hasError('validateRut')">{{ 'error.input.validateRut' | translate }}</label>
            </div>
        </div>
    </div>
    <div class="ui-grid-col-12">
        <div class="form-group">
            <label [for]="FORM_NAME">Name</label>
            <input [id]="FORM_NAME" pInputText type="text" [formControlName]="FORM_NAME" maxlength="100" />
            <div class="ui-grid-col-12 ng-invalid-msgs-container" *ngIf="!getControl(FORM_NAME).valid && getControl(FORM_NAME).dirty">
                <label *ngIf="getControl(FORM_NAME).hasError('required')">{{ 'error.input.required' | translate }}</label>
                <label *ngIf="getControl(FORM_NAME).hasError('maxlength')">{{ 'error.input.maxlength' | translate:{p1:NAME_MAX_LENGTH} }}</label>
            </div>
        </div>
    </div>
    <div class="ui-grid-col-12">
        <div class="form-group">
            <label [for]="FORM_LAST_NAME">Last name</label>
            <input [id]="FORM_LAST_NAME" pInputText type="text" [formControlName]="FORM_LAST_NAME" maxlength="100" />
            <div class="ui-grid-col-12 ng-invalid-msgs-container" *ngIf="!getControl(FORM_LAST_NAME).valid && getControl(FORM_LAST_NAME).dirty">
                <label *ngIf="getControl(FORM_LAST_NAME).hasError('required')">{{ 'error.input.required' | translate }}</label>
                <label *ngIf="getControl(FORM_LAST_NAME).hasError('maxlength')">{{ 'error.input.maxlength' | translate:{p1:LAST_NAME_MAX_LENGTH} }}</label>
            </div>
        </div>
    </div>
    <div class="ui-grid-col-12">
        <div class="form-group">
            <label [for]="FORM_AGE">Age</label>
            <input [id]="FORM_AGE" pInputText type="number" [formControlName]="FORM_AGE" maxlength="100" />
            <div class="ui-grid-col-12 ng-invalid-msgs-container" *ngIf="!getControl(FORM_AGE).valid && getControl(FORM_AGE).dirty">
                <label *ngIf="getControl(FORM_AGE).hasError('required')">{{ 'error.input.required' | translate }}</label>
                <label *ngIf="getControl(FORM_AGE).hasError('min')">{{ 'error.input.min' | translate:{p1:AGE_MIN_VALUE} }}</label>
                <label *ngIf="getControl(FORM_AGE).hasError('max')">{{ 'error.input.max' | translate:{p1:AGE_MAX_VALUE} }}</label>
                <label *ngIf="getControl(FORM_AGE).hasError('pattern')">{{ 'error.input.age' | translate }}</label>
            </div>
        </div>
    </div>
    <div class="ui-grid-col-12">
        <div class="form-group">
            <label [for]="FORM_ADDRESS">Address</label>
            <textarea [id]="FORM_ADDRESS" pInputText [formControlName]="FORM_ADDRESS" maxlength="500"></textarea>
            <div class="ui-grid-col-12 ng-invalid-msgs-container" *ngIf="!getControl(FORM_ADDRESS).valid && getControl(FORM_ADDRESS).dirty">
                <label *ngIf="getControl(FORM_ADDRESS).hasError('required')">{{ 'error.input.required' | translate }}</label>
                <label *ngIf="getControl(FORM_ADDRESS).hasError('maxlength')">{{ 'error.input.maxlength' | translate:{p1:ADDRESS_MAX_LENGTH} }}</label>
            </div>
        </div>
    </div>
    <div class="ui-grid-col-12">
        <button icon="pi pi-save" pButton type="button" title="Submit" class="ui-button-rounded" (click)="submit()" [disabled]="!this.personFormGroup.valid"></button>
    </div>
</div>