.header {
    background: white;
    width: 95%;
    border-bottom: rgba(8, 92, 128, 0.25) 1px solid;
    margin: 0 auto 1em auto;
}

.header-wrapper {
    width: 75%;
    margin: 0 auto;
    position: relative;
}

.header-wrapper>* {
    display: inline-block;
}

img {
    margin-top: 1em;
}

h1 {
    margin-top: -1.5em;
    margin-bottom: 0em;
    color: #000;
    font-family: Roboto;
    font-size: 28px;
    letter-spacing: .74px;
    padding: 17px 17px 17px 40px;
    font-weight: 300;
    background-color: transparent;
    vertical-align: middle;
}

.sticky {
    position: sticky;
    top: 0;
    z-index: 1;
}