/* You can add global styles to this file, and also import other style files */

.wrap {
    white-space: pre-wrap;
    /* CSS3 */
    white-space: -moz-pre-wrap;
    /* Firefox */
    white-space: -pre-wrap;
    /* Opera <7 */
    white-space: -o-pre-wrap;
    /* Opera 7 */
    word-wrap: break-word;
    /* IE */
}

input.ng-dirty.ng-invalid,
textarea.ng-dirty.ng-invalid {
    border: 1px solid #E8473E;
}

.ng-invalid-msgs-container {
    label {
        color: #E8473E;
        font-size: 12px;
    }
}

.pull-right {
    float: right;
}

.align-center {
    text-align: center
}

.ui-button-rounded.m-lr-1 {
    margin-left: 1em;
    margin-right: 1em;
}

.m-tb-1 {
    margin-top: 1em;
    margin-bottom: 1em;
}

body .ui-toolbar {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
    border: none;
}

.ui-button-text {
    margin-left: 5px;
}

body .ui-toast .ui-toast-message.ui-toast-message-success {
    background: #6bcdf7;
}

body .ui-button.ui-button-rounded {
    border-radius: 6px;
}

body .ui-table .ui-table-caption,
body .ui-table .ui-table-summary,
body .ui-table .ui-table-thead>tr>th,
body .ui-toolbar {
    background-color: white;
}